In [ ]:
# Create a dictionary

person = {
    "first_name": 'Wayne',
    "last_name": 'Gretsky',
    "nationality": 'Canada',
    "birth_year": 1961
}
person['first_name']
person['first_name'] = 'Jane' # We can change Wayne's name to Jane
person

{'first_name': 'Jane',
 'last_name': 'Gretsky',
 'nationality': 'Canada',
 'birth_year': 1961}

# EXERCISE: create a dictionary called car_type with your choice of a car brand, model, year, usnews_rating, and engine size.

In [14]:
## Write your answer here
car_type = {
    "brand": 'Ford',
    "model": 'Ranger',
    "year": 2025,
    "rating": 3.7,
    "engine": 6
}
car_type["brand"]

'Ford'

In [4]:
#LIST

primes = [2, 3, 5, 7, 11]
users = ["Dillon", "Michael", "Lea"]
users[-1]

'Lea'

In [5]:
users[0] = 'Madison'
users

['Madison', 'Michael', 'Lea']

In [6]:
users.append('Rachel')
users

['Madison', 'Michael', 'Lea', 'Rachel']

In [7]:
users.pop()
users

['Madison', 'Michael', 'Lea']

In [9]:
# List with dictionaries as each item

products = [
    {"name": "IPhone 12", "price": 949},
    {"name": "Fairphone", "price": 419},
    {"name": "Pixel 5", "price": 799}]

# Create a list with dictionaries of 3 people with their names, ages, city of birth, and occupation.

In [16]:
## Write your answer here
people_work = [
    {"name": "Jim", "age": 41, "birthcity": "Dallas", "occupation": "Teacher"},
    {"name": "John", "age": 42, "birthcity": "Nashville", "occupation": "Cop"},
    {"name": "James", "age": 43, "birthcity": "Buffalo", "occupation": "Accountant"}]
people_work[0]

{'name': 'Jim', 'age': 41, 'birthcity': 'Dallas', 'occupation': 'Teacher'}

## Tuples

In [17]:
point_dict = {"x": 2, "y": 4}
point_tuple = (2, 4)

date_dict = {
  "year": 1973,
  "month": 10,
  "day": 23
}
date_tuple = (1973, 10, 23)

date_tuple[0] # 1973
len(date_tuple) # 3

3

In [18]:
a = [1, 2, 3]
b = a
b.append(4)
a

[1, 2, 3, 4]

OBJECT REFERENCES AND MUTATIONS

In [19]:
a = [1, 2, 3]
b = a
b.append(4)

In [20]:
a = [1, 2, 3]
# creating a new copy
b = a.copy()
# modifying b
b.append(4)
a

[1, 2, 3]

## INPUT AND OUTPUT OF TEXT

In [22]:
print("What is your name?")
name = input()
name
print("Nice to meet you, " + name)
# name_length = len(name)
# name_length

What is your name?
Pluto
Nice to meet you, Pluto

## Write a program which will ask the user for their birth year and will respond with the user's age in the year 2025.

In [23]:
print("What is your birth year?")
birthyear = input()
birthyear
print("In 2025, you will be", 2025 - int(birthyear))

What is your birth year?
2003
In 2025, you will be 22

In [ ]:
import random

print(random.randint(1, 6))
print(random.choice(["heads", "tails"]))

2
tails