<a href="https://colab.research.google.com/github/kipdallaris/Python451Dallaris/blob/main/dallarisweek4_01_groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise: GroupBy
Alcohol Consumption Exercise

### Introduction:

Thanks to: https://github.com/justmarkham for the dataset and materials.

Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

[link text](https://)### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv), and assign it to a variable called drinks.

In [2]:
drinks = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### What is the number of observations in the dataset?

In [3]:
drinks.info() # for rows and columns
drinks.shape[0] # for rows
drinks.shape[1] # for columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     170 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

6

### Show me the names of all columns, and how the dataset is indexed.

In [4]:
print('The column names are:',drinks.columns)
print('\n\nThe index:',drinks.index)

The column names are: Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')


The index: RangeIndex(start=0, stop=193, step=1)

## How many continents are there?

In [5]:
drinks.continent.unique()
drinks.continent.nunique()

5

In [6]:
drinks.continent.value_counts().head()

continent
AF    53
EU    45
AS    44
OC    16
SA    12
Name: count, dtype: int64

### How much beer does the world drink on average?

In [7]:
drinks['beer_servings'].mean()
drinks.beer_servings.mean()

106.16062176165804

### Class Exercise: How much spirit does the world drink in total? Hint: SUM

In [8]:
## Enter your answer here:
drinks.spirit_servings.sum()

15632

### Which country drinks the highest servings of wine?

Steps: Find the index location where wine_serving is highest. Next, locate the name of the country attached to this high wine consumption.

In [9]:
print('highest servings of wine is located at row:',drinks['wine_servings'].idxmax())

print('\nThe country that drinks the highest amount of wine is:',drinks['country'][drinks['wine_servings'].idxmax()])

print('\nThe other features of France:\n',drinks.loc[drinks['wine_servings'].idxmax()])

highest servings of wine is located at row: 61

The country that drinks the highest amount of wine is: France

The other features of France:
 country                         France
beer_servings                      127
spirit_servings                    151
wine_servings                      370
total_litres_of_pure_alcohol      11.8
continent                           EU
Name: 61, dtype: object

In [10]:
## Alternatively, sort drinks by highest wine servings
drinks.sort_values(by='wine_servings',ascending=False).head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
61,France,127,151,370,11.8,EU
136,Portugal,194,67,339,11.0,EU
3,Andorra,245,138,312,12.4,EU
166,Switzerland,185,100,280,10.2,EU
48,Denmark,224,81,278,10.4,EU

## Class Exercise: How much servings of wine is had by the country that drinks the most servings of spirit? Which country is it?

In [14]:
drinks.loc[drinks['spirit_servings'].idxmax()]

KeyError: 'spirit_servings'


## We will now start grouping by a category to answer more complicated questions.

#### Which continent drinks the most beer on average? To answer this, we will GROUPBY continent and then find the average.

In [18]:
drinks.beer_servings.mean()

AttributeError: 'DataFrame' object has no attribute 'beer_servings'

In [19]:
drinks.groupby('continent').beer_servings.mean()

KeyError: 'continent'

In [16]:
print('The continent that drinks the most beer:',drinks.groupby('continent').beer_servings.mean().idxmax())

drinks.groupby('continent').beer_servings.mean().sort_values(ascending=False)

KeyError: 'continent'

## Class Exercise: Print the summary statistics for wine consumption for each continent.

In [20]:
## Enter your answer here
data = {
    'Country': ['Country A', 'Country B', 'Country C', 'Country D', 'Country E', 'Country F'],
    'Continent': ['Europe', 'Europe', 'Asia', 'Asia', 'America', 'America'],
    'Wine Servings': [150, 180, 90, 110, 200, 190]
}
drinks = pd.DataFrame(data)
wine_stats_by_continent = drinks.groupby('Continent')['Wine Servings'].describe()

print(wine_stats_by_continent)

           count   mean        std    min    25%    50%    75%    max
Continent
America      2.0  195.0   7.071068  190.0  192.5  195.0  197.5  200.0
Asia         2.0  100.0  14.142136   90.0   95.0  100.0  105.0  110.0
Europe       2.0  165.0  21.213203  150.0  157.5  165.0  172.5  180.0

### Print the mean alcohol consumption per continent for every type of alcohol

In [22]:
data = {
    'Country': ['France', 'Italy', 'China', 'Japan', 'USA', 'Brazil'],
    'Continent': ['Europe', 'Europe', 'Asia', 'Asia', 'North America', 'South America'],
    'Wine Servings': [370, 250, 10, 9, 50, 200]
}

drinks = pd.DataFrame(data)
mean_wine_servings = drinks.groupby('Continent')['Wine Servings'].mean()

print(mean_wine_servings)

Continent
Asia               9.5
Europe           310.0
North America     50.0
South America    200.0
Name: Wine Servings, dtype: float64

### Class Exercise: Print the median alcohol consumption per continent for every column

In [23]:
## Enter your answer here
import pandas as pd

# Example data structure
data = {
    'Country': ['France', 'Italy', 'China', 'Japan', 'USA', 'Brazil'],
    'Continent': ['Europe', 'Europe', 'Asia', 'Asia', 'North America', 'South America'],
    'Beer Servings': [250, 140, 19, 77, 249, 145],
    'Wine Servings': [370, 250, 10, 9, 50, 200],
    'Spirit Servings': [130, 120, 220, 84, 158, 35]
}

drinks = pd.DataFrame(data)
median_alcohol_consumption = drinks.groupby('Continent').median()

print(median_alcohol_consumption)

TypeError: agg function failed [how->median,dtype->object]

### Print the mean, min and max values for spirit consumption.

In [24]:
drinks.groupby('continent').spirit_servings.agg(['mean', 'min', 'max'])

KeyError: 'continent'

Reset Index to Continent, and set it back to how it was previously

In [25]:
drinks1 = drinks.set_index('continent')

drinks1.head()

drinks1 = drinks1.reset_index()
drinks1.head()

KeyError: "None of ['continent'] are in the columns"