<a href="https://colab.research.google.com/github/kipdallaris/Python451Dallaris/blob/main/Dallarishw02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

In [2]:
import pandas as pd
import numpy as np

### Step 3. Read the following URL and assign it to a variable called chipo.    
NOTE: It is a TSV file, not CSV. Find out how to read TSV using read_csv in Pandas.

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep = '\t')

### Show/print the first **20** entries

In [4]:
print(chipo.head(20))

    order_id  quantity                              item_name  \
0          1         1           Chips and Fresh Tomato Salsa
1          1         1                                   Izze
2          1         1                       Nantucket Nectar
3          1         1  Chips and Tomatillo-Green Chili Salsa
4          2         2                           Chicken Bowl
5          3         1                           Chicken Bowl
6          3         1                          Side of Chips
7          4         1                          Steak Burrito
8          4         1                       Steak Soft Tacos
9          5         1                          Steak Burrito
10         5         1                    Chips and Guacamole
11         6         1                   Chicken Crispy Tacos
12         6         1                     Chicken Soft Tacos
13         7         1                           Chicken Bowl
14         7         1                    Chips and Guacamole
15         8         1  Chips and Tomatillo-Green Chili Salsa
16         8         1                        Chicken Burrito
17         9         1                        Chicken Burrito
18         9         2                            Canned Soda
19        10         1                           Chicken Bowl

                                   choice_description item_price
0                                                 NaN     $2.39
1                                        [Clementine]     $3.39
2                                             [Apple]     $3.39
3                                                 NaN     $2.39
4   [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5   [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                 NaN     $1.69
7   [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8   [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9   [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25
10                                                NaN     $4.45
11  [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75
12  [Roasted Chili Corn Salsa, [Rice, Black Beans,...     $8.75
13  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
14                                                NaN     $4.45
15                                                NaN     $2.39
16  [Tomatillo-Green Chili Salsa (Medium), [Pinto ...     $8.49
17  [Fresh Tomato Salsa (Mild), [Black Beans, Rice...     $8.49
18                                           [Sprite]     $2.18
19  [Tomatillo Red Chili Salsa, [Fajita Vegetables...     $8.75

### What is the number of observations in the dataset?

In [5]:
# Solution
num_observations = chipo.shape[0]
print(f"The number of observations in the dataset is: {num_observations}")

The number of observations in the dataset is: 4622

### What is the number of columns in the dataset? Names of the columns in the dataset?

In [6]:
num_columns = chipo.shape[1]
print(f"The number of columns in the dataset is: {num_columns}")
column_names = chipo.columns
print("The names of the columns in the dataset are:", list(column_names))

The number of columns in the dataset is: 5
The names of the columns in the dataset are: ['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### What was the most-ordered item? In how much quantity in total was it ordered?

In [7]:
item_quantity = chipo.groupby('item_name')['quantity'].sum()
most_ordered_item = item_quantity.idxmax()

In [8]:
most_ordered_quantity = item_quantity.max()
print(f"The most-ordered item is: {most_ordered_item}")
print(f"The total quantity of the most-ordered item is: {most_ordered_quantity}")

The most-ordered item is: Chicken Bowl
The total quantity of the most-ordered item is: 761


### What was the most ordered item in the choice_description column? How many were ordered?

In [9]:
choice_quantity = chipo.groupby('choice_description')['quantity'].sum()
most_ordered_choice = choice_quantity.idxmax()
most_ordered_choice_quantity = choice_quantity.max()
print(f"The most-ordered item in the choice_description column is: {most_ordered_choice}")
print(f"The total quantity of this item ordered is: {most_ordered_choice_quantity}")

The most-ordered item in the choice_description column is: [Diet Coke]
The total quantity of this item ordered is: 159

### How many items were orderd in total?

In [10]:
total_items_ordered = chipo['quantity'].sum()

print(f"The total number of items ordered is: {total_items_ordered}")

The total number of items ordered is: 4972

### Provide a list of unique items offered for sale to eat at Chipotle.

In [11]:
unique_items = chipo['item_name'].unique()

print("Unique items offered for sale at Chipotle are:")
print(unique_items)

Unique items offered for sale at Chipotle are:
['Chips and Fresh Tomato Salsa' 'Izze' 'Nantucket Nectar'
 'Chips and Tomatillo-Green Chili Salsa' 'Chicken Bowl' 'Side of Chips'
 'Steak Burrito' 'Steak Soft Tacos' 'Chips and Guacamole'
 'Chicken Crispy Tacos' 'Chicken Soft Tacos' 'Chicken Burrito'
 'Canned Soda' 'Barbacoa Burrito' 'Carnitas Burrito' 'Carnitas Bowl'
 'Bottled Water' 'Chips and Tomatillo Green Chili Salsa' 'Barbacoa Bowl'
 'Chips' 'Chicken Salad Bowl' 'Steak Bowl' 'Barbacoa Soft Tacos'
 'Veggie Burrito' 'Veggie Bowl' 'Steak Crispy Tacos'
 'Chips and Tomatillo Red Chili Salsa' 'Barbacoa Crispy Tacos'
 'Veggie Salad Bowl' 'Chips and Roasted Chili-Corn Salsa'
 'Chips and Roasted Chili Corn Salsa' 'Carnitas Soft Tacos'
 'Chicken Salad' 'Canned Soft Drink' 'Steak Salad Bowl'
 '6 Pack Soft Drink' 'Chips and Tomatillo-Red Chili Salsa' 'Bowl'
 'Burrito' 'Crispy Tacos' 'Carnitas Crispy Tacos' 'Steak Salad'
 'Chips and Mild Fresh Tomato Salsa' 'Veggie Soft Tacos'
 'Carnitas Salad Bowl' 'Barbacoa Salad Bowl' 'Salad' 'Veggie Crispy Tacos'
 'Veggie Salad' 'Carnitas Salad']

### How many different items are sold?

In [12]:
num_different_items = chipo['item_name'].nunique()

print(f"The number of different items sold at Chipotle is: {num_different_items}")

The number of different items sold at Chipotle is: 50

### How much revenue was generated for the period in the dataset?

In [13]:
chipo['item_price'] = chipo['item_price'].replace('[\$,]', '', regex=True).astype(float)
total_revenue = (chipo['quantity'] * chipo['item_price']).sum()
print(f"The total revenue generated for the period in the dataset is: ${total_revenue:.2f}")

The total revenue generated for the period in the dataset is: $39237.02

### What is the average revenue amount per order?

In [14]:
chipo['item_price'] = chipo['item_price'].replace('[\$,]', '', regex=True).astype(float)
order_total = chipo.groupby('order_id').apply(lambda x: (x['quantity'] * x['item_price']).sum())
average_revenue_per_order = order_total.mean()
print(f"The average revenue amount per order is: ${average_revenue_per_order:.2f}")

The average revenue amount per order is: $21.39

<ipython-input-14-194cbaa27413>:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  order_total = chipo.groupby('order_id').apply(lambda x: (x['quantity'] * x['item_price']).sum())

### How many orders were made in the period?

In [15]:
total_orders = chipo['order_id'].nunique()

print(f"The total number of orders made during the period is: {total_orders}")

The total number of orders made during the period is: 1834

### How much revenue was generated selling the second most popular item in the menu?

In [16]:
chipo['item_price'] = chipo['item_price'].replace('[\$,]', '', regex=True).astype(float)
item_quantity = chipo.groupby('item_name')['quantity'].sum().sort_values(ascending=False)
second_most_popular_item = item_quantity.index[1]
second_most_popular_quantity = item_quantity.iloc[1]
second_item_revenue = chipo[chipo['item_name'] == second_most_popular_item]['item_price'].sum()
print(f"The second most popular item is: {second_most_popular_item} with {second_most_popular_quantity} units sold.")
print(f"The total revenue generated from {second_most_popular_item} is: ${second_item_revenue:.2f}")

The second most popular item is: Chicken Burrito with 591 units sold.
The total revenue generated from Chicken Burrito is: $5575.82